  <!-- Un solo producto -->
<article class="product">
    <img src="/images/product00.jpg" alt="volovan" class="img_product">
    <h2> Nombre del Volovan</h2>
    <div class="product_specific">
        <i class="fas fa-shopping-cart"></i>
        <p class="precio">$15.00</p>
        <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                deleniti eligendi architecto?</p>
    </div>
</article>