<!DOCTYPE html>
<html lang="en">
    <!-- Navbar (sit on top) -->
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
<h1>PRODUCT DESIGN</h1>







    <!-- Footer -->
    <%- include('../partials/footer'); %>   
</body>
</html>