<!DOCTYPE html>
<html lang="en">
    <!-- Navbar (sit on top) -->
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>

    <div class="create-container">
        <h2 class="create-h2"><i class="fas fa-utensils"></i> Agregar nuevo producto</h2>
        <form action="¿?" method="___">

            <div class="create-fila">
                <div class="create-etiqueta">
                    <label for="name" class="create-label">Nombre:</label>
                </div>
                <div class="create-campo">
                    <input type="text" id="name" name="name" placeholder="Ej: Tacos de spaguetti" class="create-input">
                </div>
            </div>

            <div class="create-fila">
                <div class="create-etiqueta">
                    <label for="price" class="create-label">Precio:</label>
                </div>
                <div class="create-campo">
                    <input type="text" id="price" name="price" placeholder="Ej: $10k" class="create-input">
                </div>
            </div>

            <div class="create-fila">
                <div class="create-etiqueta">
                    <label for="description" class="create-label">Descipción:</label>
                </div>
                <div class="create-campo">
                    <textarea name="description" id="description" placeholder="¿De qué trata tu producto? Describe a detalle tu producto en esta área" class="create-textarea"></textarea>
                </div>

            </div>

            <div class="create-fila">
                <div class="create-etiqueta">
                    <label for="category" class="create-label">Categoría:</label>
                </div>
                <div class="create-campo">
                    <select name="category" id="category" class="create-input">
                        <option value="null">Elegir opción</option>
                        <option value="tacos">Tacos</option>
                        <option value="pizza">Pizza</option>
                        <option value="postres">Postres</option>
                        <option value="bebidas">Bebidas</option>
                    </select>
                </div>
            </div>
            
            <div class="create-fila">
                <div class="create-etiqueta">
                    <label for="avatar" class="create-label">Imagen del producto:</label>
                </div>
                <div class="create-campo">
                    <input type="file" name="avatar" id="avatar" class="create-file" accept="image/png, image/jpeg" required>
                </div>
            </div>

            <div class="fila-botones">
                <input class="create-botones" type="submit" name="submit" value="Agregar producto" />
                <input class="create-botones" type="reset" name="reset" value="Restablecer" />
            </div>

        </form>
    </div>







    <!-- Footer -->
    <%- include('../partials/footer'); %>   
</body>
</html>