<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Volovan</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bae110c2f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
</head>

<body>
    <header>
       
        <img src="/images/Logo.jpg" alt="Aquí va el logo XD" class="logo"> 
        
        <a href="#" class="hamburguer-button"> <i class="fas fa-bars"></i> </a>
    
        <nav>
            <ul>
                <li> <a href="#"> <i class="fas fa-home"></i> Inicio  </a></li> 
                <li> <a href="#"> <i class="fas fa-utensils"></i> Nuestro Menú  </a></li> 
                <li> <a href="#"> <i class="fas fa-cart-plus"></i> Haz un Pedido</a></li> 
            </ul>
            <ul>
                <li><a href="#"> <i class="fas fa-user-plus"></i> Crea tu cuenta  </a></li>
                <li><a href="#"> <i class="fas fa-user-alt"></i> Ingresa </a></li>
             </ul>
        </nav>
    </header>
</body>
</html>