<!DOCTYPE html>
<html lang="en">
    <!-- Navbar (sit on top) -->
    <%- include('head'); %>
<body>
    <%- include('header'); %>
<h1>PRODUCT DESIGN</h1>







    <!-- Footer -->
    <%- include('footer'); %>   
</body>
</html>