<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Volovan</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://kit.fontawesome.com/9bae110c2f.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>

    <header>
        <a href="#" class="hamburguer-button"> <i class="fas fa-bars"></i> </a>
        <img src="/images/logoSinFondo.png" alt="Aquí va el logo XD" class="logo"> 
        <nav class="header-nav-menu">
            <ul>
                <li> <a href="/"> <i class="fas fa-home"></i> Inicio  </a></li> 
                <li> <a href="/productDetail"> <i class="fas fa-utensils"></i> Nuestro Menú  </a></li> 
                <li> <a href="/productCart"> <i class="fas fa-cart-plus"></i> Haz un Pedido</a></li> 
            </ul>
        </nav>

        <nav class="header-nav-user">
            <ul>
                <li><a href="/register"> <i class="fas fa-user-plus"></i> Crea tu cuenta  </a></li>
                <li><a href="/login"> <i class="fas fa-user-alt"></i> Ingresa </a></li>
             </ul>
        </nav>


    </header>



    <!-----------------------------------------------------------------------   BANNER PRINCIPAL ----------------------->
    <main>
        <section class="banner-principal">
            <ul class="slider">
                <li id="slide1">
                  <img src="/images/volovanConcept00.jpg"/>
                </li>
                <li id="slide2">
                    <img src="/images/volovanConcept01.jpg"/>
                </li>
                <li id="slide3">
                    <img src="/images/volovanConcept02.jpg"/>
                </li>
                <li id="slide4">
                    <img src="/images/volovanConcept03.jpg"/>
                </li>
                <li id="slide5">
                    <img src="/images/volovanConcept04.jpg"/>
                </li>
                <li id="slide6">
                  <h1>Gracias por su visita</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                      </p>
                </li>
              </ul>

            <nav>
              <ul class="menu">
                <li>
                  <a href="#slide1"><i class="fas fa-dot-circle"></i></a>
                </li>
                <li>
                  <a href="#slide2"><i class="fas fa-dot-circle"></i></a>
                </li>
                 <li>
                  <a href="#slide3"><i class="fas fa-dot-circle"></i></a>
                </li>
                <li>
                    <a href="#slide4"><i class="fas fa-dot-circle"></i></a>
                  </li>
                  <li>
                    <a href="#slide5"><i class="fas fa-dot-circle"></i></a>
                  </li>
                  <li>
                    <a href="#slide6"><i class="fas fa-dot-circle"></i></a>
                  </li>
              </ul>
            </nav>
        </section>
    </main>
    <main>
        <section  class="principal-title">
            <h1 class="main-perfect-title">MENÚ</h1>
        </section>

        <section class="seccion-compra">
            <h2 class="main-titulos"> Especialidades </h2>
            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>


            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>


            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

        </section>


        <section class="seccion-compra">
            <h2 class="main-titulos"> Volovanes Salados </h2>
            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>


            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>


            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>


            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>
        </section>


        <section class="seccion-compra">
            <h2 class="main-titulos"> Volovanes Dulces </h2>
            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>


        </section>

        <section class="seccion-compra">
            <h2 class="main-titulos"> Postres </h2>
            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/product00.jpg" alt="volovan" class="img_product">
                <h2> Nombre del Volovan</h2>
                <div class="product_specific">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="precio">$15.00</p>
                    <p class="descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod modi temporibus, qui provident consequuntur quasi sequi ipsa non totam 
                            reiciendis mollitia repudiandae esse est adipisci? Necessitatibus quibusdam 
                            deleniti eligendi architecto?</p>
                </div>
            </article>
          
        </section>

    </main>
 

    <footer>
        <div>
            <p>Políticas de envío       </p>
            <p>Politicias de seguridad </p>
            <p>     Términos del servicio</p>
        </div>
        
        <h3 class="marca-registrada">© 2021 Panadería El Volovan</h3>
    </footer>

    
</body>
</html>