<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productCart.css">
    
</head>
<body>

<!-- Header -->
    
    <%- include('header'); %>
    
<!-- Detalle del carrito de compras -->

    <section class="main-title">
        <h1 class="main-title-text">CARRITO DE COMPRAS</h1>        
    </section>
    
    <section class="productSummarySection">
        <div class="productSummary">
            <div class="productImage">
                <img src="\images\VolovánExample.jpg" alt="" width="100px"> 
            </div>
            <div class="productContainer">
                <h3>Nombre del producto</h3>
                <p class="productDescription">Descripción del producto</p>
                <button class="quitButton" type="button" name="btQuit">QUITAR</button>
             </div>
             <div class="detailsContainer">
                <div class="othersDetails">
                    <p class="details">PRECIO</p>
                    <input type="number" name="price" value="000.00" class="detailsBoxes">
                 </div>
                <div class="othersDetails">
                    <p class="details">CANTIDAD</p>
                    <input type="number" name="quantity" type="number" min="0" step="1" value="0" class="detailsBoxes">
                </div>
                <div class="othersDetails">
                    <p class="details">TOTAL</p>
                    <input type="number" name="totalPrice" value="000.00" class="detailsBoxes">
                </div>
            </div>    
        </div>
        <br>
        <div class="productSummary">
            <div class="productImage">
                <img src="\images\VolovánExample.jpg" alt="" width="100px"> 
            </div>
            <div class="productContainer">
                <h3>Nombre del producto</h3>
                <p class="productDescription">Descripción del producto</p>
                <button class="quitButton" type="button" name="btQuit">QUITAR</button>
             </div>
             <div class="detailsContainer">
                <div class="othersDetails">
                    <p class="details">PRECIO</p>
                    <input type="number" name="price" value="000.00" class="detailsBoxes">
                 </div>
                <div class="othersDetails">
                    <p class="details">CANTIDAD</p>
                    <input type="number" name="quantity" type="number" min="0" step="1" value="0" class="detailsBoxes">
                </div>
                <div class="othersDetails">
                    <p class="details">TOTAL</p>
                    <input type="number" name="totalPrice" value="000.00" class="detailsBoxes">
                </div>
            </div>    
        </div>
        <br>
        <div class="productSummary">
            <div class="productImage">
                <img src="\images\VolovánExample.jpg" alt="" width="100px"> 
            </div>
            <div class="productContainer">
                <h3>Nombre del producto</h3>
                <p class="productDescription">Descripción del producto</p>
                <button class="quitButton" type="button" name="btQuit">QUITAR</button>
             </div>
             <div class="detailsContainer">
                <div class="othersDetails">
                    <p class="details">PRECIO</p>
                    <input type="number" name="price" value="000.00" class="detailsBoxes">
                 </div>
                <div class="othersDetails">
                    <p class="details">CANTIDAD</p>
                    <input type="number" name="quantity" type="number" min="0" step="1" value="0" class="detailsBoxes">
                </div>
                <div class="othersDetails">
                    <p class="details">TOTAL</p>
                    <input type="number" name="totalPrice" value="000.00" class="detailsBoxes">
                </div>
            </div>    
        </div>

        <hr>                
            
        <div class="mainSummary">
        <div class="summary">
            <p>SUBTOTAL</p>
        </div>
        <div class="summary">
            <input type="number" class="detailsBoxes" value="000.00">
        </div>
        </div>
    </section>
    

    <div class="sendCost">
        <p class="sendCost_text">Los costos de envíos se añaden durante el pago</p>
    </div>

    <div class="buttons">
        <button class="updateCartBt" type="button" name="btUpdateCArt">ACTUALIZAR CARRITO</button>
        <br>
        <button class="finishtOrderBt" type="button" name="btFinishOrder">FINALIZAR PEDIDO</button>
        </div>
    </br>
        <hr>

<!-- Footer -->

<%- include('footer'); %>

        
</body>
</html>