<!DOCTYPE html>
<html lang="en">

<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bae110c2f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/logRegStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Form Register</title>
</head>
<!-- head -->

<body>

<!-- header -->
<%- include('headerLoginRegister'); %>
<!-- header -->

    <div class="register-box">
        <img src="/images/logoSinFondo.png" alt="" class="avatar">
        <h1>Registrarse</h1>
        <form action="#">
            <input type="text" name="name" placeholder="Nombre" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="password" name="password" placeholder="Repetir contraseña" required>
            <input type="submit" value="Ingresar">
            <a href="/login">¿Ya tienes cuenta? Inicia sesión</a>
        </form>
    </div>
</body>
</html>