body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Roboto';
}

div.login-box, div.register-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 420px;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar, .register-box .avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50%-50px);
}

.login-box h1, .register-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 24px;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

.register-box input{
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.login-box input[type="text"], .login-box input[type="email"], .login-box input[type="password"], .register-box input[type="text"], .register-box input[type="email"], .register-box input[type="password"]{
    border: 1px solid gray;
    background: transparent;
    height: 30px;
    font-size: 18px;
}

.login-box input[type="submit"], .register-box input[type="submit"]{
    height: 30px;
    background: #f2e205;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 8px;
}

.login-box input[type="submit"]:hover, .register-box input[type="submit"]:hover{
    background: #bdb107;
}

.login-box a, .register-box a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover, .register-box a:hover{
    color: gray;
}