*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #ffffff;
}

h1 {
    display: flex;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: #333232;
}

h3 {
    font-size: 15px;
    padding: 1px;
    color:#333232;
    text-align: start;
}

.main-tittle {
    text-align: center;
}

.main-title-text {
    color:#333232;;
    font-size: 30px;
    padding: 20px; 
    width: 100vw;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.productSummarySection{
    /* display: flex; */

}
.productSummary {
     display: flex;
     margin: 5px;
     padding: 1px;
     color: #333232;
     text-align: justify;
}

.productImage {
    display: inline-block;
    margin: auto;
     }

.productContainer {
    display: inline-block;
    margin: auto;
    padding: 5px;
}

.productDescription {
    font-size: 10px;
    color: #333232;
    text-align: start;
}

.quitButton {
    color: #333232;
    padding: 5px;
    width: 80px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    }

.detailsBoxes {
    width: 95px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #333232;
    border: none;
    }

hr {
    width: 100%;
        }

.detailsContainer {
    display: inline-block;
    margin: auto;
    }

.othersDetails {
    display: inline-block;
    padding: 20px;

}

.details {
    color: #333232;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    margin: 1px;
}

.subDetails {
    color: #333232;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  
}
.mainSummary {
    text-align: center;
}
.summary {
    display: inline-block;
    text-align: center;
    padding: 20px;
    color: #333232;
}

.sendCost {
    text-align: center;
    padding: 20px;
}

.sendCost_text {
    font-size: 15px;
    color: #333232;
}

.buttons {
    border-color: red;
       text-align: center;
    }

.updateCartBt {
    display: inline-block;
    color: #333232;
    padding: 10px;
    height: 35px;
    width: 190px;
    font-size: 15px;
    margin: 5px;
    }

.finishtOrderBt {
    display: inline-block;
    color: #333232;
    background-color: #F2E205;
    padding: 10px;
    height: 35px;
    width: 190px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    }