*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #ffffff;
}

header{
    text-align: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(153, 35, 24);
    padding: 20px;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 100;
    max-height: 100px;
}

.logo{
    width: 8.5rem;
    height: 8.5rem;
    position: relative;
    top: 15px; 
}

.hamburguer-button{ 
    /*background-color:  rgb(90, 9, 1);*/
    color:white;
    max-width: 50px;
    padding: 15px 0;
    display: block;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    margin: auto;
    position: absolute;
    top: 40px;
}

.hamburguer-button-container{
}

header nav{
    display: none;
}


header nav {
    margin-top: 10px; 
    /* display: none; */
}

header nav ul{
    list-style: none;
    margin: 0; 
    padding: 0;
}

header nav a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

