
 /*ESTILOS GENERALES*/
*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    /*overflow:hidden;*/
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #ffffff;
}



 /*ESTILOS DE HEADER */
header{
    text-align: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(153, 35, 24);
    padding: 20px;
    margin: auto;
    /*position: fixed */;
    top: 0;
    z-index: 100;
    max-height: 150px;
}


.logo{
    width: 8.5rem;
    height: 8.5rem;
    position: relative;
    z-index: 100;
    top: 15px; 
}

.hamburguer-button{ 
    /*background-color:  rgb(90, 9, 1);*/
    color:white;
    max-width: 50px;
    padding: 15px 0;
    display: block;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    margin: auto;
    position: absolute;
    top: 40px;
}


header nav{
    display: none;
}


header nav {
    margin-top: 10px; 
    /* display: none; */
}

header nav ul{
    list-style: none;
    margin: 0; 
    padding: 0;
}

header nav a{
    text-decoration: none;
    color: white; 
    display: inline-block;
    padding: 5px 0;
    font-size: 20px;
}

 /*ESTILOS DE FOOTER */

 footer{
    text-align: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(153, 35, 24);
    padding: 20px;
    margin: auto;
    top: 0;
    z-index: 100;
    max-height: 150px;
    color: white;
    margin-top: 1450px;
}

footer p{
    margin-bottom: 10px;
}


 /*ESTILOS DE MAIN */
.banner-principal{
    margin: auto;
    background-color: transparent;
    width: 100%;
    padding: 0px;
    position: absolute;
    display: flex;
}

.banner-principal img{
    width: 100vw;
    height: 400px;
}

.banner-principal ul,li{
    padding: 0;
    margin: 0;
    list-style: none inside;
    box-sizing: border-box;
}

.banner-principal ul.slider {
    position:relative; /*Necesitamos que el ul sea relativo*/
    padding: 0px;
}

.banner-principal ul.slider li {
    position: absolute; /*Posicionamos en absoluto los <li>*/
    width: 100vw;
    height: 50vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: gray;
    opacity: 0; 
    transition: opacity .5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: calc( 1.5rem + 1vw );
    text-align: center;
}

.banner-principal .slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

.banner-principal .slider li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}

#slide6{
    background-color: #f90;
    height: 400px;
}


.banner-principal nav {
    width: 100vw;
    position: absolute;
    top: 60vh;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f1f2f3;
}

.banner-principal nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banner-principal nav ul li {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.banner-principal nav a{
        font-size: calc( 1.2rem + 1vw );
        text-decoration: none;
        font-weight: bold;
        color: #00324b;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.8;
        flex-grow: 1;
        text-align: center;
        border: 2px solid rgb(75, 0, 0);
        border-top: 5px solid rgb(75, 0, 0);
        background-color: #f90;
        flex-wrap: wrap;
        position: relative;
}

.banner-principal nav li:last-child a {
    border-right: 0;
}

.banner-principal nav a:hover {
    background-color: rgb(75, 0, 0);
    color: #fff;
    border-top-color: #ffffff;
}

.banner-principal nav a:active {
    border-top-color: #f90;
    background: #f90;
    color: #00324b;
}


/*Complementarios de la pagina principal*/
.inf-principal{
    position: absolute; 
    top: 90vh;
    text-align: center;
}


.main-titulos{
    background-color: #F2E205;
    font-size: 20px;
    border: solid 2px black;
    padding: 20px; 
    width: 100vw;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;

}

.inf-principal div{
    margin-bottom: 20px;
}

.inf-principal div ul{
    list-style: none;
}

.social-media{
    font-size: 24px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

/*Detalles de producto*/
.principal-title{
    position: static;
    margin-top: 70vh;
    text-align: center;
}

.main-perfect-title{
    background-color: rgb(87, 10, 10);
    color: white;
    font-size: 30px;
    border: solid 2px black;
    padding: 20px; 
    width: 100vw;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.seccion-compra{
    position: static; 
    top: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    background-color:  #ebebeb;
    padding: 10px;
}

.seccion-compra article{
    width: 90%;
    background-color: #F2E205;
}

.product{
    margin: auto;   
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    position: relative;
    padding: 20px;
    transition: all 2s;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.product:hover{
    box-shadow: 10px 10px 50px rgb(39, 37, 37);
}

.product h2{
    font-size: 15px;
    background-color: rgb(65, 5, 5);
    color: #ffffff; 
    margin: 0;
    margin-bottom: 5%;
    padding: 15px;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_specific{
    border-top: solid 1px black;
    width: 100%;
    padding: 15px;
    text-align: left;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}


main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -15px;
}

.product:hover i{
    animation: rotar 3s linear infinite alternate;
}


@keyframes rotar{
    0%{
        transform: rotate(0);
        opacity: 100%;

    }

    50%{
        opacity: 50%;
    }
    100%{
        transform: rotate(360deg);
        opacity: 100%;

    }
}

.precio {
    font-size: 18px;
    width: 30%;
    text-align: center;
    color: #025f0f;
}

.descripcion{
    font-size: 16px;
    opacity: 0;
    transition: all 1s;
    height: 10px;
}


.descripcion:hover{
    opacity: 1;
    display: inline;
    height: auto;
}

.img_product{
    width: 100%;
    border-radius: 20%;
}





@media (min-width: 760px){
     /*ESTILOS DE HEADER */
    header{
        display: flex;
        align-items:stretch;
        align-content: space-between;
        justify-content: space-between;
    }

    .logo{
        width: 10rem ;
        height: 10rem;
        top: 10px;
        order: 1;  
    }
    .hamburguer-button{
        display: none;
        
    }
    .header-nav-menu{
        order:-1; 
    }
    .header-nav-user{
        order:2; 
    }

    header nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        top: 60px; 
    }

    header nav ul{
        display: flex;
    }
    header nav li{
        margin:  0 5px;
    }

     /*ESTILOS DE FOOTER */
     footer{
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         text-align: center;
     }
     footer div{
         width: 60%;
         display: flex;
         justify-content: space-around;

     }
     footer p{
         font-size: 15px;
     }
     .marca-registrada{
         font-size: 20px;
         width: 100%;
     }

     /*Complementos de la pagina principal*/
     .inf-principal{
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         width: 100vw;
     }
     .column{
         display: flex;
         flex-direction: column;
         width: 50%;
         flex-wrap: wrap;
         padding: 10px;
         justify-content: center;
         text-align: center;
     }

     .column div{
         display: flex;
         flex-direction: column;
         width: 100%;
         padding: 0px;
     }
     .main-titulos{
         width: 100%;
     }

     .ubicacion{
         padding-left: 20px;
         position: relative;
         left: 30px;
         text-align: center;
         display: flex;
         flex-direction: column;
     }

     .seccion-compra article{
        width: 45%;
    }

    .product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 1200px){
     /*ESTILOS DE HEADER */
    header{
        align-items: space-evenly;
    }

    .logo{
        width: 12rem;
        height: 12rem;
    }

    .banner-principal{
        width: 100%;
        max-height: max-content;
    }

    .banner-principal img{
        width: 100%;
        height: 60vh;
    }
    #slide6{
        height: 60vh;
    }

    .seccion-compra article{
        width: 22%;
    }
}




