/*ESTILOS GENERALES*/

*{
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
}

/*ESTILOS DE HEADER */
header{
  background-color: rgb(153, 35, 24);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

.logo{
  width: 100px;
  height: 100px;
  padding: 5px;
}

/* ESTILOS DE HEADER: App.js */

.mainTittle{
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.tittle{
  text-align: center;
  color:rgb(153, 35, 24)

}

.buttonCointainer{
  display: flex;
  padding: 5px;
  border: 5px;
  background-color: rgb(153, 35, 24);
  justify-content: center;
  align-content: space-around;
  row-gap: 30px;
}

.buttonLinks{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 32px;
  font: 16px;
  transition-duration: 0.4s;
  }

  .buttonLinks:hover{
    background-color:#ffffff;
    color:black;
  }

  /* ESTILOS DE MAINSUMMARY */

  .mainSummaryTitle{
    text-align: initial;
    padding: 10px;
    font-size: 10px;
    color: rgb(85, 85, 85);
  }

  .summaryContainer{
    text-align: initial;
    width: 650px;
    
  }

  .chartSummaryContainer{
    display: inline-block;
    width: 201px;
    height: 100px;
    margin: 3px;
    border-radius: 3px;
    background-color: #e3e3ee;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .chartSummaryContainer:hover{
    background-color: rgb(236, 236, 236);
  }

  .summaryItem{
    padding: 2px;
  }
  
  .summaryItemImage{
    text-align: center;
    margin: 5px;
  }
  .summaryImage{
    width: 35px;
  }

  .summaryText{
    color:rgb(153, 35, 24);
    font-size: 15px;
    text-align: center;
    
  }

  .summaryTextDescription{
    color: gray;
    text-align: center;
    font-size: 12px;
  }


  /* ESTILOS DE CATEGORIES */

  .mainCategoriesSubtittle{
    text-align: initial;
    padding: 10px;
    font-size: 10px;
    color: rgb(85, 85, 85);
  }

  .CategoriesContainer{
    text-align: initial;
    width: 650px;
    
  }

  .chartCategories{
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 3px;
    border-radius: 3px;
    background-color: #e3e3ee;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .chartCategories:hover{
    background-color: rgb(236, 236, 236);
  }

  .categoriesItem{
    padding: 5px;
  }

  .categoriesItemImage{
    text-align: center;
    margin: 5px; 
  }

  .categoriesImage{
    width: 35px;
    }

  .categoriesText{
    color:rgb(153, 35, 24);
    font-size: 12px;
    text-align:center;
    
  }

  .categoriesTextDescription{
    font-size: 10px;
    color: gray;
    text-align: center;
  }

  /* ESTILOS DE CATEGORIES-PAGE*/

  .mainCategoriesSubtittle2{
    text-align: center;
    padding: 25px;
    font-size: 15px;
    color: gray;
  }

  .CategoriesContainer2{
    text-align: center;
    
  }

  .chartCategories2{
    display: inline-block;
    width: 250px;
    height: 200px;
    margin: 5px;
    border-radius: 3px;
    background-color: #e3e3ee;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .chartCategories2:hover{
    background-color: rgb(236, 236, 236);
  }

  .categoriesItem2{
    padding: 10px;
  }

  .categoriesItemImage2{
    text-align: center;
    margin: 5px; 
  }

  .categoriesImage2{
    width: 70px;
    }

  .categoriesText2{
    color:rgb(153, 35, 24);
    font-size: 20px;
    text-align:center;
    
  }

  .categoriesTextDescription2{
    font-size: 15px;
    color: gray;
    text-align: center;
  }

  /* ESTILOS DE PRODUCTLIST */

  .productLisTitle{
    text-align: center;
    padding: 10px;
    font-size: 10px;
    color: rgb(85, 85, 85);
  }

  .productContainer{  
    text-align: initial;
    width: 700px;
  }

  .productItem{
    display: inline-block;  
    width: 110px;
    height: 70px;
    margin: 3px;
    border-radius: 3px;
    background-color: #e3e3ee;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .productItem:hover{
    background-color: rgb(236, 236, 236);
  }

  .productItemImage{
    width: 35px;
    margin: 5px;
  }

  .productContainerItem{
    text-align: center;
    width: 108px;
    margin: 5px;
    height: 40px;

  }

  .itemName{
    color:rgb(153, 35, 24);
    font-size: 9px;
    text-align:center;
  }

  /* ESTILOS DE PRODUCTLIST-PAGE */

  .productLisTitle2{
    text-align: center;
    padding: 25px;
    font-size: 15px;
    color: gray;
  }

  .productContainer2{  
    text-align: initial;
    position: absolute;
    left: 50px;
  }

  .productItem2{
    display: inline-block;  
    width: 200px;
    height: 70px;
    margin: 3px;
    border-radius: 3px;
    background-color: #e3e3ee;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .productItem2:hover{
    background-color: rgb(236, 236, 236);
  }

  .productItemImage2{
    width: 30px;
  }

  .productContainerItem2{
    text-align: center;
    padding: 2px;

  }

  .itemName2{
    color:rgb(153, 35, 24);
    font-size: 15px;
    text-align:center;
  }

   /*ESTILOS DE FOOTER */

   .marca-registrada{
    font-size: 12px;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: rgb(153, 35, 24);
    color: #ffffff;
    position: absolute;
    top: 637px;
}

/* ESTILOS DE RECENT ACTIVITY */

.recentActivity{
  display: inline-block;
  width: 305px;
  margin: 3px;
  height: 120px;
  border-radius: 3px;
  background-color: #e3e3ee;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.recentActivity:hover{
  background-color: rgb(236, 236, 236);
}

.mainRecenteActivityTitle{
  text-align: justify;
  padding: 10px;
  font-size: 10px;
  color: rgb(85, 85, 85);
}

.titleRecent{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: rgb(153, 35, 24);
  padding: 10px;
}

.recentActivityItem{
  display: inline-block;
  margin: 5px;
  padding: 5px;
}


.recentActivityText{
  color: gray;
  font-size: 15px;
}

.recentActivityItemImage{
  display: inline-block;
  margin: 5px;
  padding:5px;
}

.recentActivityImage{
  width: 50px;
}


/* ESTILOS DE RECENT ACTIVITY-PAGE */

.recentActivity2{
  display: inline-block;
  width: 305px;
  margin: 3px;
  height: 120px;
  border-radius: 3px;
  background-color: #e3e3ee;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.recentActivity2:hover{
  background-color: rgb(236, 236, 236);
}

.mainRecenteActivityTitle2{
  text-align: center;
    padding: 25px;
    font-size: 15px;
    color: gray;
}

.titleRecent2{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: rgb(153, 35, 24);
  padding: 10px;
}

.recentActivityItem2{
  display: inline-block;
  margin: 5px;
  padding: 5px;
}


.recentActivityText2{
  color: gray;
  font-size: 15px;
}

.recentActivityItemImage2{
  display: inline-block;
  margin: 5px;
  padding:5px;
}

.recentActivityImage2{
  width: 50px;
}

/* POSICIONES ABSOLUTAS */

.mainSummaryPosition{
  position: absolute;
  left: 10px;
  top: 140px;
}

.productListPosition{
  position: absolute;
  left: 649px;
  top: 140px;
}

.categoriesPosition{
  position: absolute;
  top: 300px;
  left: 10px;
}

.lastProductUserPosition{
  position: absolute;
  top: 465px;
  left: 10px;
}


.line{
  width: 619px;
  height: 3px;
  background-color: gray;
  position: absolute;
  top: 155px;
}

.line2{
  width: 619px;
  height: 3px;
  background-color: gray;
  position: absolute;
  top: 165px;
}