<!-- Footer -->
<footer>
  <div>
    <p>Políticas de envío </p>
    <p>Politicias de seguridad </p>
    <p> Términos del servicio</p>
  </div>

  <h3 class="marca-registrada">© 2021 Panadería El Volovan</h3>
</footer>