<!-- Header -->
<header>
    <a href="#" class="hamburguer-button"> <i class="fas fa-bars"></i> </a>
    <img src="/images/logoSinFondo.png" alt="Aquí va el logo XD" class="logo">
    <nav class="header-nav-menu">
        <ul>
            <li> <a href="/"> <i class="fas fa-home"></i> Inicio </a></li>
            <li> <a href="/products"> <i class="fas fa-utensils"></i> Nuestro Menú </a></li>
            <li> <a href="/products/productCart"> <i class="fas fa-cart-plus"></i> Haz un Pedido</a></li>
        </ul>
    </nav>

    <% if (locals.isLogged) { %>
        <nav class="header-nav-user">
            <ul>
                <li><a href="/users/profile"> <img style="border-radius: 50%;" src="/images/avatars/<%= locals.userLogged.avatar_nombre %>"
                            width="40px"></i> </a></li>
                <li><a href="/users/profile"> </i> Hola, <%= locals.userLogged.nombre %> </a></li>
            </ul>
        </nav>
        <% } else { %>
            <nav class="header-nav-user">
                <ul>
                    <li><a href="/users/register"> <i class="fas fa-user-plus"></i> Crea tu cuenta </a></li>
                    <li><a href="/users/login"> <i class="fas fa-user-alt"></i> Ingresa </a></li>
                </ul>
            </nav>
            <% } %>




</header>