<!DOCTYPE html>
<html lang="en">
<!-- Navbar (sit on top) -->
<%- include('partials/head'); %>

    <body>

        <!-- Navbar (sit on top) -->
        <%- include('partials/header'); %>

            <!-----------------------------------------------------------------------   BANNER PRINCIPAL ----------------------->
            <main>
                <section class="banner-principal">
                    <ul class="slider">
                        <li id="slide1">
                            <img src="/images/volovanConcept00.jpg" />
                        </li>
                        <li id="slide2">
                            <img src="/images/volovanConcept01.jpg" />
                        </li>
                        <li id="slide3">
                            <img src="/images/volovanConcept02.jpg" />
                        </li>
                        <li id="slide4">
                            <img src="/images/volovanConcept03.jpg" />
                        </li>
                        <li id="slide5">
                            <img src="/images/volovanConcept04.jpg" />
                        </li>
                        <li id="slide6">
                            <h1>Gracias por su visita</h1>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </li>
                    </ul>

                    <nav>
                        <ul class="menu">
                            <li>
                                <a href="#slide1"><i class="fas fa-dot-circle"></i></a>
                            </li>
                            <li>
                                <a href="#slide2"><i class="fas fa-dot-circle"></i></a>
                            </li>
                            <li>
                                <a href="#slide3"><i class="fas fa-dot-circle"></i></a>
                            </li>
                            <li>
                                <a href="#slide4"><i class="fas fa-dot-circle"></i></a>
                            </li>
                            <li>
                                <a href="#slide5"><i class="fas fa-dot-circle"></i></a>
                            </li>
                            <li>
                                <a href="#slide6"><i class="fas fa-dot-circle"></i></a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </main>
            <main>
                <section class="bloque-compensacion"></section>
                <section class="inf-principal">

                    <div class="column">
                        <div>
                            <h2 class="main-titulos">Ubicación</h2>
                        </div>
                        <div class="ubicacion">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1881.0427286789484!
                    2d-96.964632!3d19.451882!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9c2a7948091a42f!2
                    sPanader%C3%ADa%20%22EL%20VOLOVAN%22!5e0!3m2!1ses!2smx!4v1626062144621!5m2!1ses!2smx" width="80%"
                                height="450px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div>
                            <p>
                                De Bello #73, Coatepec, 91500 Coatepec, Ver.
                            </p>
                        </div>

                    </div>
                    <div class="column">
                        <div>
                            <h2 class="main-titulos">Horario de Servicio</h2>
                            <p> Lunes a Sábado de 7:00 am a 8:00 pm
                                Domingo de 8:00 am a 2:00 pm
                            </p>
                        </div>
                        <div>
                            <h2 class="main-titulos">Contacto</h2>
                            <ul>
                                <li>
                                    <i class="fas fa-phone-alt"></i>
                                    (111)-222-3333
                                </li>
                                <li>
                                    <i class="fas fa-phone-alt"></i>
                                    (111)-222-3333
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    correo@vinculo.com
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="main-titulos">Redes Sociales </h2>
                            <ul class="social-media">
                                <li>
                                    <i class="fab fa-facebook"></i>
                                </li>
                                <li>
                                    <i class="fab fa-facebook-messenger"></i>
                                </li>
                                <li>
                                    <i class="fab fa-whatsapp"></i>
                                </li>
                                <li>
                                    <i class="fab fa-instagram"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

            </main>


            <!-- Footer -->
            <%- include('partials/footer'); %>


    </body>

</html>